<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="YourName">
    <title>Money Laundering Detection Model</title>
    <link rel="icon" type="image/x-icon" href="/static/images/cash-stack.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>Money Laundering Detection Model</h1>
    </header>
    <main>
        <img src="/static/images/media-resources-logo-white-754x400.png" alt="LPL" width="400" height="533">


        <h2>Enter transaction information:</h2>
        <div>
            <h1>Smurfing</h1>
        </div>


    </main>

    <footer>
        <p class='font-sm'> &copy; Money Laundering Detection Model, Cypher.ai 2024. All rights reserved.</p>
    </footer>
</body>
</html>