<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="YourName">
    <title>Money Laundering Detection Model</title>
    <link rel="icon" type="image/x-icon" href="/static/images/cash-stack.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>Money Laundering Detection Model</h1>
    </header>
    <main>
        <img src="/static/images/media-resources-logo-white-754x400.png" alt="LPL" width="400" height="533">


        <h2>Enter transaction information:</h2>
        <div style="margin: auto;">
            <form action="/", method = "POST">
                <div>
                    <input type="number" name="s_account" id="s_account" placeholder="Sender account">

                </div>



                <div>
                    <input type="number" name="r_account" id="r_account" placeholder="Receiver account">

                </div>

                <div>
                    <input type="number" name="amount" id="amount" placeholder="Amount">

                </div>


                <div>

                    <select id="p_currency" name="p_currency" required>
                        <option value="" disabled selected>Payment currency:</option>
                        <option value="UK pounds">UK pounds</option>
                        <option value="Indian rupee">Indian rupee</option>
                        <option value="Albanian lek">Albanian lek</option>
                        <option value="Swiss franc">Swiss franc</option>
                        <option value="Pakistani rupee">Pakistani rupee</option>
                        <option value="Naira">Naira</option>
                        <option value="Yen">Yen</option>
                        <option value="Euro">Euro</option>
                        <option value="Dirham">Dirham</option>
                        <option value="Mexican Peso">Mexican Peso</option>
                        <option value="Turkish lira">Turkish lira</option>
                        <option value="US dollar">US dollar</option>
                        <option value="Moroccan dirham">Moroccan dirham</option>

                    </select>
                </div>



                <div>
                    <select id="r_currency" name="r_currency" required>
                        <option value="" disabled selected>Received currency:</option>
                        <option value="UK pounds">UK pounds</option>
                        <option value="Indian rupee">Indian rupee</option>
                        <option value="Albanian lek">Albanian lek</option>
                        <option value="Swiss franc">Swiss franc</option>
                        <option value="Pakistani rupee">Pakistani rupee</option>
                        <option value="Naira">Naira</option>
                        <option value="Yen">Yen</option>
                        <option value="Euro">Euro</option>
                        <option value="Dirham">Dirham</option>
                        <option value="Mexican Pes">Mexican Peso</option>
                        <option value="Turkish lira">Turkish lira</option>
                        <option value="US dollar">US dollar</option>
                        <option value="Moroccan dirham">Moroccan dirham</option>
                    </select>
                </div>



                <div>
                    <select id="sb_location" name="sb_location" required>
                        <option value="" disabled selected>Sender bank location:</option>
                        <option value="UK">UK</option>
                        <option value="India">India</option>
                        <option value="Albania">Albania</option>
                        <option value="France">France</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Japan">Japan</option>
                        <option value="Spain">Spain</option>
                        <option value="UAE">UAE</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Turkey">Turkey</option>
                        <option value="USA">USA</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Italy">Italy</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Austria">Austria</option>
                        <option value="Germany">Italy</option>

                    </select>
                </div>



                <div>
                    <select id="rb_location" name="rb_location" required>
                        <option value="" disabled selected>Receiver bank location:</option>
                        <option value="UK">UK</option>
                        <option value="India">India</option>
                        <option value="Albania">Albania</option>
                        <option value="France">France</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Japan">Japan</option>
                        <option value="Spain">Spain</option>
                        <option value="UAE">UAE</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Turkey">Turkey</option>
                        <option value="USA">USA</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Italy">Italy</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Austria">Austria</option>
                        <option value="Germany">Italy</option>
                    </select>
                </div>



                <div>
                    <select id="payment_type" name="payment_type" required>
                        <option value="" disabled selected>Payment type:</option>
                        <option value="Cash Deposit">Cash Deposit</option>
                        <option value="Cross-border">Cross-border</option>
                        <option value="Cheque">Cheque</option>
                        <option value="ACH">ACH</option>
                        <option value="Credit Card">Credit Card</option>
                        <option value="Debit Card">Debit Card</option>
                        <option value="Cash Withdrawal">Cash Withdrawal</option>

                    </select>
                </div>


                <input type="submit" name="submit" id="submit" value="Check">
            </form>
        </div>


    </main>

    <footer>
        <p class='font-sm'> &copy; Money Laundering Detection Model, Cypher.ai 2024. All rights reserved.</p>
    </footer>
</body>

</html>